/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #3a2424;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
}

/* Basic Reset End */

/* Header Styles */
.header-default {
    position: relative; /* Ensure the header is the containing block for the logo */
    background: #3a2424;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.header-text {
    flex: 1; /* This ensures the text takes up the available space */
    text-align: center; /* Adjust text alignment if needed */
}

.Logo {
    position: absolute; /* Position the logo absolutely within the header */
    right: 10px; /* Adjust as necessary */
    top: 50%;
    transform: translateY(-50%);
    max-width: 70px;
    max-height: 100px;
}
/* Header Styles End */




/* Navigation Styles */
.nav-default {
    background: #5f3b3b;
    color: #00000000;
    padding: 0.5rem;
    text-align: center;
}

.nav-default ul {
    list-style: none;
}

.nav-default ul li {
    display: inline;
    margin: 0 1rem;
}

.nav-default ul li a {
    color: #ffffff;
    text-decoration: none;
}

.nav-default ul li a:hover {
    text-decoration: underline;
}
/* Navigation Styles End */




/* Main Content Styles */
.main-default {
    padding: 1rem;
    flex: 1;
}
/* Main Content Styles End */



/*Sections Default*/
.section-default {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background: #e9e9e9;
    border: 1px solid #ddd;
}
/*Sections end*/

/* Footer Styles */
.footer-default {
    text-align: center;
    padding: 1rem 0;
    background: #3a2424;
    color: #fff;
}
/* Footer End*/



/*about us*/
.founders-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.founder-image-and-text {
    display: flex;
    align-items: center; /* Center items vertically */
}

.founder-image {
    width: 150px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between image and text */
}

.founder-description {
    font-size: 16px; /* Adjust font size as needed */
}

.founder-image {
    height: 180px;
    width: 180px;
    margin-right: 20px;
}

.HunterHeader {
    margin-left: 10px;
}

.JakobHeader {
    margin-left: 8px;
}
/* about us end */





/*Leaderboard*/

.LB-image-and-text {
    display: flex;
}

.LB-text {
    display: flex;
    margin-right: 50px;
    align-items: center;
}

.LBPics-inner{
    max-height: auto;
    max-width: 65%;
    border: 5px solid #5f3b3b;
    border-radius: 5px;
}
