<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Images/ico.png') }}">
</head>
<body class="page-default">
    <div class="wrapper">
        <header class="header-default">
            <img src="{{ url_for('static', filename='Images/Sloppy.png') }}" class="Logo">
            <div class="header-text">
                <h1>Contact Us</h1>
            </div>
        </header>
        <nav class="nav-default">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('database') }}">SlopBase</a></li>
                <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <main class="main-default">
            <h2>Contact SMF</h2>
            <section id="contact" class="section-default">
                <p><b>LEAD DEV:</b></p>
                <p>sabu6516@colorado.edu</p>
                <a target="_blank" href="https://github.com/sabu6516">Github</a>
                <br>
                <a target="_blank" href="https://www.linkedin.com/in/samuel-buckler-5ba7022b0/">LinkedIn</a>
            </section>
            <section id="contact" class="section-default">
                <p><b>CO DEV:</b></p>
                <p>hunter.baker.b@gmail.com</p>
                <a target="_blank" href="https://github.com/hutnerr">Github</a>
                <br>
                <a target="_blank" href="https://www.linkedin.com/in/hunter-b-baker">LinkedIn</a>    
            </section>
            <section id="contact" class="section-default">
                <p><strong>BIG FOR US:</strong></p>
                <p>jayfeather874@gmail.com</p>
                <a target="_blank" href="https://github.com/Koborooski">Github</a>
                <br>
                <a target="_blank" href="https://www.linkedin.com/in/koborooski/">LinkedIn</a>
            </section>
        </main>
    </div>
    <footer class="footer-default">
        <p>&copy; 2024 SMF Co.</p>
    </footer>
</body>
</html>
