<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlopBase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Images/ico.png') }}">
</head>
<body class="page-default">
    <div class="wrapper">
        <header class="header-default">
            <img src="{{ url_for('static', filename='Images/Sloppy.png') }}" class="Logo">
            <div class="header-text">
                <h1>SlopBase</h1>
            </div>
        </header>
        <nav class="nav-default">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('database') }}">SlopBase</a></li>
                <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <main class="main-default">
            <h2>Number of Catches per Person</h2>
    <img src="{{ url_for('static', filename='number_of_catches_per_person.png') }}" alt="Number of Catches per Person">

    <h2>Number of Catches per Bait</h2>
    <img src="{{ url_for('static', filename='number_of_catches_per_bait.png') }}" alt="Number of Catches per Bait">

    <h2>All Fish Caught</h2>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Fish Caught</th>
                <th>Size of Fish</th>
                <th>Bait</th>
                <th>Pond Caught</th>
                <th>Date of Catch</th>
                <th>Time of Catch</th>
                <th>Catcher</th>
            </tr>
            {% for fish in fish_list %}
            <tr>
                <td>{{ fish[0] }}</td>
                <td>{{ fish[1] }}</td>
                <td>{{ fish[2] }}</td>
                <td>{{ fish[3] }}</td>
                <td>{{ fish[4] }}</td>
                <td>{{ fish[5] }}</td>
                <td>{{ fish[6] }}</td>
                <td>{{ fish[7] }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
            <section id="add-fish-section" class="section-default">
                <!-- Include the add fish form directly here -->
                {% include 'add_fish_form.html' %}
            </section>
        </main>
    </div>
    <footer class="footer-default">
        <p>&copy; 2024 SMF Co.</p>
    </footer>
</body>
</html>
