<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMF Co.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Images/ico.png') }}">
</head>
<body class="page-default">
    <div class="wrapper">
        <header class="header-default">
            <img src="{{ url_for('static', filename='Images/Sloppy.png') }}" class="Logo">
            <div class="header-text">
                <h1>SMF</h1>
            </div>
        </header>
        <nav class="nav-default">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">SlopBase</a></li>
                <li><a href="{{ url_for('signup') }}">Leaderboard</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('view_bookbag') }}">Contact</a></li>
            </ul>
        </nav>
        <main class="main-default">
            <section id="home" class="section-default">
                <h2>Sloppy Mouth Fishing Corporation</h2>
                <p>This is the home section for SMF.</p>
            </section>
        </main>
    </div>
    <footer class="footer-default">
        <p>&copy; 2024 SMF Co.</p>
    </footer>
</body>
</html>
